@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth antialiased bg-slate-50 text-slate-900;
}

.link-underline {
    position: relative;
}

.link-underline:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    right: 0;
    margin-top: -3px;
    transition: width 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: width 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    @apply bg-blue-700;
}

.link-underline:hover:after {
    width: 100%;
    left: 0;
}
